[문제1]
- 포켓에 money가 있으면 택시타고 아니면 걸어가라
porket=['key','money','iPhon']

In [45]:
porket=['key','money','iPhon']

택시타고 가자

[문제2] 
1. input으로 값을 입력받아
2. 짝수이면 -> '짝수' 출력, 홀수이면 ->'홀수'출력

4
짝수

[문제3] '국어','영어','수학', '과학' 점수가 모두 80점 이상면 '합격'그렇지 않으면 '불합격'

[문제4]
- 표준입력으로 점수를 입력받아
- 수,우,미,양,가 를 출력하세요

점수를 입력해 주세요59
가

[문제5] 
1. input으로 나이입력(입력 값이 7이상 입력됨)
2. 교통카드 시스템에서 시내버스 요금은 다음과 같다
   - 어린이 (7세이상 12세 이하): 650원
   - 청소년 (13세이상 18세 이하): 1,050원
   - 19세 이상: 1,250
3. 각 나이에 맞게 요금을 차감한 뒤 잔액을 출력되게 하세요
4. 현재 교통카드에는 9,000원이 있음

나이를 입력해 주세요80
7750