In [1]:
pwd

'C:\\Users\\human\\Desktop\\수업자료\\데이터분석&시각화\\01판다스'

In [2]:
import numpy as np
import pandas as pd

In [3]:
customer = pd.DataFrame({'customer_id' : np.arange(6), 
                    'name' : ['철수'"", '영희', '길동', '영수', '수민', '동건'], 
                    '나이' : [40, 20, 21, 30, 31, 18]})

customer

   customer_id name  나이
0            0   철수  40
1            1   영희  20
2            2   길동  21
3            3   영수  30
4            4   수민  31
5            5   동건  18

In [4]:
orders = pd.DataFrame({'customer_id' : [1, 1, 2, 2, 2, 3, 3, 1, 4, 9], 
                    'item' : ['치약', '칫솔', '이어폰', '헤드셋', '수건', '생수', '수건', '치약', '생수', '케이스'], 
                    'quantity' : [1, 2, 1, 1, 3, 2, 2, 3, 2, 1]})
orders.head()

   customer_id item  quantity
0            1   치약         1
1            1   칫솔         2
2            2  이어폰         1
3            2  헤드셋         1
4            2   수건         3

In [5]:
display(customer.head(2))
display(orders.head(2))

   customer_id name  나이
0            0   철수  40
1            1   영희  20

   customer_id item  quantity
0            1   치약         1
1            1   칫솔         2

In [9]:
pd.merge(customer,orders,on='customer_id').groupby(['name','item'])['quantity'].sum().reset_index()

  name item  quantity
0   길동   수건         3
1   길동  이어폰         1
2   길동  헤드셋         1
3   수민   생수         2
4   영수   생수         2
5   영수   수건         2
6   영희   치약         4
7   영희   칫솔         2

In [10]:
# 1. 블랙리스트(회원등록만 하고 한번도 거래 안한 사람은 누구인가)

# 2. 상품블랙리스트(상품등록만 하고 1개도 팔지 않은 상품은 무엇인가)

# 3. 가장 많이 팔린 상품은?

# 4. 가장 많이 상품을 산 고객 2명은?

In [13]:
# 1. 블랙리스트(회원등록만 하고 한번도 거래 안한 사람은 누구인가)
t1=pd.merge(customer,orders, on='customer_id', how='left')
t1[t1['item'].isnull()]['name'].values.tolist()

['철수', '동건']

In [18]:
# 2. 상품블랙리스트(상품등록만 하고 1개도 팔지 않은 상품은 무엇인가)
t2=pd.merge(orders,customer,on='customer_id', how='left')
t2[t2['name'].isnull()]['item'].values.tolist()

['케이스']

In [24]:
# 3. 가장 많이 팔린 상품은?
pd.merge(customer,orders,on='customer_id').groupby('item')['quantity'].sum().sort_values(ascending=False).head(1).index.tolist()

['수건']

In [26]:
# 4. 가장 많이 상품을 산 고객 2명은?
pd.merge(customer,orders,on='customer_id').groupby('name')['quantity'].sum().sort_values(ascending=False).head(2).index.tolist()

['영희', '길동']