In [52]:
pwd

'C:\\Users\\human\\Desktop\\수업자료\\데이터분석&시각화\\05 크롤링_01'

In [56]:
from bs4 import BeautifulSoup as bs

In [62]:
ex2 = '''
<html> 
    <head> 
        <h1> 사야할 과일 
    </head> 
    <body> 
        <h1> 시장가서 사야할 과일 목록 
            <div> <p id='fruits1' class='name1' title='바나나'> 바나나 
                  <span class = 'price'> 3000원 </span> 
                  <span class = 'count'> 10개 </span> 
                  <span class = 'store'> 바나나가게 </span> 
                  <a href = 'https://www.banana.com'> banana.com </a> 
                  </p>
            </div> 
            <div> <p id='fruits2' class='name2' title='체리'> 체리 
                <span class = 'price'> 100원 </span> 
                <span class = 'count'> 50개 </span> 
                <span class = 'store'> 체리가게</span> 
                <a href = 'https://www.cherry.com'> cherry.com </a>
                </p> 
            </div> 
            <div> <p id='fruits3' class='name3' title='오렌지'> 오렌지
                <span class = 'price'> 500원 </span> 
                <span class = 'count'> 20개 </span> 
                <span class = 'store'> 오렌지가게</span> 
                <a href = 'https://www.orange.com'> orange.com </a>
                </p> 
            <div> 
    </body> 
</html> '''

soup=bs(ex2,'html')

In [66]:
soup.find('p',id='fruits2').find('span','count').text

' 50개 '

In [69]:
soup.select_one('p#fruits2 span.count').text

' 50개 '

In [71]:
[i.text for i in soup.find_all('span','count')]

[' 10개 ', ' 50개 ', ' 20개 ']

In [72]:
[i. text for i in soup.select('span.count')]

[' 10개 ', ' 50개 ', ' 20개 ']

In [75]:
soup.find_all('a')[0]['href']

'https://www.banana.com'

In [76]:
[i['href'] for i in soup.find_all('a')]

['https://www.banana.com', 'https://www.cherry.com', 'https://www.orange.com']

In [77]:
soup.find('p',id='fruits1')

<p class="name1" id="fruits1" title="바나나"> 바나나
                  <span class="price"> 3000원 </span>
<span class="count"> 10개 </span>
<span class="store"> 바나나가게 </span>
<a href="https://www.banana.com"> banana.com </a>
</p>

In [82]:
soup.select('a')

[<a href="https://www.banana.com"> banana.com </a>,
 <a href="https://www.cherry.com"> cherry.com </a>,
 <a href="https://www.orange.com"> orange.com </a>]

In [83]:
import pandas as pd

In [127]:
res=[]
for i in soup.select('a'):
    link=i['href']
    title=i.text
    print(link,title)
pd.DataFrame(res)

https://www.banana.com  banana.com
https://www.cherry.com  cherry.com
https://www.orange.com  orange.com

Empty DataFrame
Columns: []
Index: []

In [89]:
res=[]
tmp={}
for i in soup.select('a'):
    tmp={}
    tmp['title']=i.text
    tmp['link']=i['href']
    res.append(tmp)
pd.DataFrame(res)

          title                    link
0   banana.com   https://www.banana.com
1   cherry.com   https://www.cherry.com
2   orange.com   https://www.orange.com