In [5]:
pwd

'C:\\Users\\human\\Desktop\\수업자료\\1차'

In [2]:
w='abc 123.678 bbb' # abc-123-678-bbb
a=w.replace(' ','-').replace('.','-')
print(a)

abc-123-678-bbb

In [3]:
a='      \t\t\t\t\t\n\n abc 123 \t\t\t\t\n'
a.strip()

'abc 123'

In [4]:
a='[abc]' #abc
a.strip('[]')

'abc'

In [7]:
a=['서울시','영등포구','여의도동','937']
'-'.join(a)

'서울시-영등포구-여의도동-937'

In [25]:
'''
# 결과 :
강남구 ->3
중랑구 ->1
'''
add=[
    '서울시 강남구 00동',
    '서울시 중랑구 00동',
    '서울시 강남구 111',
    '서울시 강남구 333'
]

gus=[] # 강남구, 중랑구,강남구, 강남구

for i in add:
    gus.append(i.split()[1])
uni=list(set(gus))
for i in uni:
    print(i,'---->',gus.count(i))

강남구 ----> 3
중랑구 ----> 1

In [29]:
'''
# 결과 :
서울시 강남구 ->3
서울시 중랑구 ->1
'''
add=[
    '서울시 강남구 00동',
    '서울시 중랑구 00동',
    '서울시 강남구 111',
    '서울시 강남구 333'
]

gus=[] # 강남구, 중랑구,강남구, 강남구

for i in add:
    gus.append(' '.join(i.split()[:-1]))
uni=list(set(gus))
for i in uni :
    print(i,'--->',gus.count(i))

서울시 강남구 ---> 3
서울시 중랑구 ---> 1

In [37]:
path=r'C:\Users\test\.conda\envs\smart\python.exe' #python.exe
path.split('\\')[-1]

'python.exe'

In [41]:
a='서울 강남구 000동'
print(a.find('부산')) # find는 오류 안뜸

-1

In [40]:
a='서울 강남구 000동'
print(a.index('서울')) # index는 찾는코드없으면 오류

ValueError: substring not found

In [49]:
try:
    a='서울 강남구 000동'
    print(a.index('부산'))
except:
    print('없다')

없다

In [47]:
try:
    print(5/2)
    print('참 잘 했어요')
except:
    print('0으로 못 나눔')
    print('------')

2.5
참 잘 했어요

In [59]:
a=[1,2,3,4]
b=[100,200,300,400]
a1=[]
b1=[]
# list(range(len(a)))
for i in range(len(a)): # 0,1,2,3
    a1.append(a[i]*2)
    b1.append(b[i]*2)
print('a1=',a1)
print('b1=',b1)

a1= [2, 4, 6, 8]
b1= [200, 400, 600, 800]

In [62]:
a=[1,2,3,4]
b=[100,200,300,400]
for i,j in zip(a,b):
    print(i)
    print(j)
    print('----------------------')

1
100
----------------------
2
200
----------------------
3
300
----------------------
4
400
----------------------

In [64]:
a=[1,2,3,4]
b=[100,200,300,400]
a1=[]
b1=[]
for i,j in zip(a,b):
    a1.append(i*2)
    b1.append(j*2)
print('a1=',a1)
print('b1=',b1)

a1= [2, 4, 6, 8]
b1= [200, 400, 600, 800]

In [69]:
a={
    '이름' : '홍길동',
    '나이' : 25,
    '직업' : '학생'
}
for i in a:
    print(i,a[i])

이름 홍길동
나이 25
직업 학생

In [73]:
for key,value in a.items():
    print(key,value)

이름 홍길동
나이 25
직업 학생

In [76]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
date_dict=dict(zip(date,close_price))
print(date_dict)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [77]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000,2,3,4]
date_dict=dict(zip(date,close_price))
print(date_dict)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [83]:
점수=80
출석=69

if 점수>=80:
    if 출석>=80:
        print('A학점')
    elif 출석>=70:
        print('B학점')
    else:
        print('공부는 잘했으나 출석좀 하렴')
else:
    print('점수없음')

공부는 잘했으나 출석좀 하렴