In [1]:
pwd

'C:\\Users\\human\\Desktop\\수업자료\\데이터분석&시각화\\04 공공API'

In [25]:
import pandas as pd
import requests

In [28]:
def serch_code(areaCode):
    # ?serviceKey=FPTew6zWGEAkHvVT0EdIhjmJAXNUsMb5qjSqAhCEjk15KaFEamuElzD4EXmAd73fw7e3lw97x6SpUUnpXQDJsg%3D%3D
    # &numOfRows=1000&pageNo=1&MobileOS=ETC&MobileApp=AppTest&areaCode=1&_type=json
    url='http://apis.data.go.kr/B551011/KorService1/areaCode1'
    param={'serviceKey':'FPTew6zWGEAkHvVT0EdIhjmJAXNUsMb5qjSqAhCEjk15KaFEamuElzD4EXmAd73fw7e3lw97x6SpUUnpXQDJsg==',
        'numOfRows':'1000',
        'pageNo': '1',
        'MobileOS':'ETC',
        'MobileApp':'AppTest',
        'areaCode' : areaCode,
        '_type':'json'
          }
    response = requests.get(url, params=param).json()
    res = pd.DataFrame(response['response']['body']['items']['item'])[['code','name']]
    return res

In [29]:
si_list = list(serch_code('')['code'])
si_df = serch_code('')
si_df.head()

  code name
0    1   서울
1    2   인천
2    3   대전
3    4   대구
4    5   광주

In [31]:
tmp = []
for i in si_list:
    res = serch_code(i)
    res['si_code'] = i
    res['si_name'] = si_df[si_df['code']==i]['name'].iloc[0]
    tmp.append(res)
df = pd.concat(tmp, ignore_index=True)
df

    code  name si_code si_name
0      1   강남구       1      서울
1      2   강동구       1      서울
2      3   강북구       1      서울
3      4   강서구       1      서울
4      5   관악구       1      서울
..   ...   ...     ...     ...
229   24   화순군      38    전라남도
230    1  남제주군      39     제주도
231    2  북제주군      39     제주도
232    3  서귀포시      39     제주도
233    4   제주시      39     제주도

[234 rows x 4 columns]