In [19]:
pwd

'C:\\Users\\human\\Desktop\\수업자료\\데이터분석&시각화\\01판다스'

In [20]:
from glob import glob
import pandas as pd

In [34]:
files=glob('./부동산/*.csv')
# res=[]
# for f in files:
    # tmp=pd.read_csv(f,encoding='cp949')
    # res.append(tmp)
# # len(res),len(files)-> 아래처럼도 가능

res=[pd.read_csv(i,encoding='cp949') for i in files]
df=pd.concat(res,ignore_index=True)

In [35]:
df

      Unnamed: 0  지역             규모    연도   월   분양가
0              0  강원          60㎡이하  2015  10  2286
1              1  강원    60㎡초과 85㎡이하  2015  10  2212
2              2  강원   85㎡초과 102㎡이하  2015  10  2061
3              3  강원         102㎡초과  2015  10  2171
4              4  강원          60㎡이하  2015  11  2292
...          ...  ..            ...   ...  ..   ...
3288         207  충북         102㎡초과  2020   1  2532
3289         208  충북          60㎡이하  2020   2  2420
3290         209  충북    60㎡초과 85㎡이하  2020   2  2384
3291         210  충북   85㎡초과 102㎡이하  2020   2  2634
3292         211  충북         102㎡초과  2020   2  2532

[3293 rows x 6 columns]