In [43]:
pwd

'C:\\Users\\human\\Desktop\\수업자료\\데이터분석&시각화\\지도그리기'

In [45]:
import folium
from folium.plugins import MarkerCluster
import pandas as pd

In [47]:
df=pd.read_csv('./2016년_사망교통사고.csv',encoding='cp949')
print(df.shape)
df.head()

(4119, 27)

,발생년,발생년월일시,발생분,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,...,도로형태_대분류,도로형태,당사자종별_1당_대분류,당사자종별_1당,당사자종별_2당_대분류,당사자종별_2당,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2016,2016122320,35,야간,금,1,1,0,0,0,...,교차로,교차로내,승용차,중형,보행자,보행자,981731,1932086,127.293623,37.387686
1,2016,2016122517,48,주간,일,1,1,0,0,0,...,단일로,기타단일로,승용차,중형,보행자,보행자,945989,1942347,126.889123,37.478777
2,2016,2016122519,5,야간,일,1,1,0,0,0,...,단일로,기타단일로,화물차,소형,보행자,보행자,993981,1879534,127.431592,36.915926
3,2016,2016122610,40,주간,월,1,1,0,0,0,...,단일로,기타단일로,승합차,경형,보행자,보행자,1161153,1751026,129.282183,35.742393
4,2016,2016122819,40,야간,수,1,1,0,0,0,...,단일로,기타단일로,승용차,소형,보행자,보행자,1056276,1686645,128.118016,35.173512

In [50]:
df.columns

Index(['발생년', '발생년월일시', '발생분', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도', '발생지시군구', '사고유형_대분류', '사고유형_중분류', '사고유형', '법규위반_대분류',
       '법규위반', '도로형태_대분류', '도로형태', '당사자종별_1당_대분류', '당사자종별_1당', '당사자종별_2당_대분류',
       '당사자종별_2당', '발생위치X_UTMK', '발생위치Y_UTMK', '경도', '위도'],
      dtype='object')

In [73]:
m=folium.Map(
    location=[36.3504567,127.3848187],
    zoom_start=7)

marker_cluster=MarkerCluster().add_to(m)
for i in df.index:
    loc=float(df['위도'][i]),float(df['경도'][i])
    p1=df['발생지시도'][i]
    p2=df['도로형태_대분류'][i]
    p3=int(df['사망자수'][i])
    
    popup_text=f'<div style="width: 70px;">[{p1}] 사망자수:{p3} 도로형태:{p2}</div>'
    folium.Marker(
        location=loc,
        popup=popup_text,
        icon=folium.Icon(color='red',icon='ok')
    ).add_to(marker_cluster)
m.save('./2016년_사망교통사고.html')